body {
  background-color: #000000;
  color: #ffffff;
  background-image: url(https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/source.gif);
  background-size: 100%;
  margin: auto;
}

#planetAgeOutput {
  display: none;
}

#demographics img {
  display: none;
  width: fit-content;
  height: auto;
}

@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

.title {
  margin: 30px;
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  font-weight: 800;
  line-height: 1.0;
  letter-spacing: -0.03em;
  transform: perspective(200px) scaleY(1.5) rotateX(-40deg);
  color: darkgoldenrod;
  text-shadow: 3px 3px red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}