body {
  background-color: #000000;
  color: #ffffff;
  background-image: url(https://media.giphy.com/media/xT8qBfjJhOmNPTVWU0/source.gif);
  background-size: 100%;
}

h1 {
  text-shadow: 3px 3px #b8860b;
}

#planetAgeOutput {
  display: none;
}

#demographics img {
  display: none;
  width: fit-content;
  height: auto;
}